<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="addService" class="fr.mleduc.spring.AddService">
		<property name="randomSource" ref="randomSource" />
		<property name="timeSource" ref="timeSource" />
	</bean>
	<bean id="multiplyService" class="fr.mleduc.spring.MultiplyService">
		<property name="randomSource" ref="randomSource" />
		<property name="timeSource" ref="timeSource" />
	</bean>
	<bean id="timeSource" class="fr.mleduc.spring.TimeSource" />
	<bean id="randomSource" class="fr.mleduc.spring.RandomSource" />

</beans>
